{% extends 'base.html' %}
{% block content %}
<div>
    <table>
        <tr>
            <th colspan="2">{{blogPost.post_title}}</th>
        </tr>
        <tr>
            <td>{{blogPost.nickname}}</td>
            <td>{{blogPost.upload_date}}</td>
        </tr>
        <tr> 
            <td colspan="2" id="mainText">{{blogPost.post_body | linebreaks }}</td>
        </tr>
        <!-- {% if blogPost.image %}
        <tr>
            <td colspan="2"><img src="{{blogPost.image.url}}" alt="" max-width="500px" max-height="500px"></td>
        </tr>
        {% endif %} -->
    </table>
    <a href="{%url 'edit' blogPost.id %}" class="white_box">edit</a>
    <a href="{%url 'delete' blogPost.id %}" class="white_box">delete</a>
</div>
{% endblock %}